<!DOCTYPE html>
<meta charset="utf-8">
<head>
<link rel="stylesheet" href="/static/css/chartstyles_light.css">

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Varela+Round">


<script src="/static/js/d3.v3.1.5.js"></script>
<script src="/static/js/jquery-1.10.2.js"></script>
<script src="/static/js/yui-min.js"></script>

<script src="/static/js/table.js"></script>

</head>

<body class="yui3-skin-sam">
  <form><input type="text" class="searchbox" id="searchbox_stock"></form>
  <h1><span id="stock">{{ stock }}</span></h1>




</body>
</html>